OCOP_API\.vs\OCOP_API\FileContentIndex\0edefe55-3457-447c-9832-96298c885f1c.vsidx
OCOP_API\.vs\OCOP_API\FileContentIndex\0edefe55-3457-447c-9832-96298c885f1c.vsidx
.vs/OCOP_API/config/applicationhost.config
.vs/OCOP_API/FileContentIndex/a05bc52b-9b9c-42ac-9b33-3af84baf8e71.vsidx
.vs/OCOP_API/v17/.suo
/.vs/OCOP_API/DesignTimeBuild
/.vs/OCOP_API/FileContentIndex
/.vs/OCOP_API/v17
/.vs/ProjectEvaluation
/Common/sv.Sale/obj
/Common/sv.Account/obj
/Common/sv.DataUtil/obj
/Services/Sale/obj
/Services/Sale/bin
/.vs
/sv.Sale/obj
/sv.Sale/bin
/Services/Sale/Properties/PublishProfiles
/Tools
